body {
    padding-top: 70px;
}

.button-row {
    padding-top: 10px;
    padding-bottom: 10px;
}

input.ng-invalid {
    botder: red solid 1px;
}

.line-height-center {
    line-height: 2.5em;
}

#steps {
    width: 75%;
    padding-top: 2em;
}

.list-group-item {
    padding: 0.25em 0.75em 0.25em 0.75em
}

.alert {
    position: absolute;
    top: 20px;
    z-index: 99999;
    text-align: center;
    left: 25%;
    width: 50%;
}
